/* H5BP styles. */
/*@import "../vendor/h5bp/css/style.css";*/

/* Bootstrap styles */
@import "../vendor/bootstrap/css/bootstrap.css";
@import "../vendor/bootstrap/css/bootstrap-responsive.css";

/* Add Stylus stylesheets here, alll files ending in .styl will be compiled!
 * For example: @import "main.styl";
 *
 * Note: All stylesheets are relative to `assets/css`.
 *
 */

/* Put development-only CSS below this line. */

html, body {
  height: 100%;
  font-family:"Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer {
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  color: #666;
  background: #222;
  padding: 20px 0 20px 0;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #efefef;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
  padding-top: 40px;
}

.search {
  padding-top: 20px;
  position: fixed;
  background: #fff;
  width: 100%;
}

.results {
  padding-top: 70px;
}
